<div{{ attributes }}>
    <div class="d-flex vh-100">
        <div class="w-100">
            <twig:Game:TextualPartComponent loading="lazy"/>
        </div>
        <div class="w-100">
            <twig:Game:VisualPartComponent loading="lazy" class="h-100 w-100"/>
        </div>
    </div>
</div>
